<!DOCTYPE html>
<html>
  <head>
    <title>BodyMassIndex</title>
    <%= render 'layouts/meta' %>
    <%= render 'layouts/favicon' %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag 'modernizr-2.8.3.min' %>
  </head>
  <body>
    <%= render 'layouts/loader' %>
    <%= render 'layouts/navigation' %>
    <main>
      <header id="particles" class="landing-heading fss color-1 overlay overlay-3 alpha-8 image-cover parallax">
        <div id="fss" class="canvas"></div>
        <div class="container center-content">
          <div class="content-inner text-center">
            <% if flash %>
              <%= render 'shared/flash_messages' %>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </header>
    </main>
    <%= render 'layouts/javascripts' %>
  </body>
</html>
